* {
  margin: 0;
  font-family: "Mulish", sans-serif
}
button{
  cursor: pointer;
}
@import "welcome.scss","counter.scss","contact.css","services.css","latest.css","product.scss","footer.scss","home.scss","menu.scss";
