.header{
    width: 100%;
    height:100px;
    background-color: red;
}
.header-icons{
    width: 20%;
    height: 100px;
    background-color: white;
    float: left;
    .facebook{
        height: 20px;
        width: 20px;
        position: relative;
        left:30px;
        top:40px;
    }
    .twitter{
        @extend .facebook;
        left: 50px;
    }
    .insta{
        @extend .facebook;
        left: 70px;
    }
    .youtube{
        @extend .facebook;
        left: 90px;
    }
}
.header-menu{
    width: 56%;
    height: 100px;
    background-color: white;
    float: left;
    .ul1{
        li{
            font-size: 18px;
            font-weight: 600;
            font-family:"Saira Condensed";
            position: relative;
            left: 20px;
            top: 35px;
            float: left;
            margin: 0 10px;
        }
    }
    .img-div{
        width: 180px;
        height: 123px;
        background-color: #142336;
        position: relative;
        left: 5px;
        top: -28px;
        float: left;
        margin-left:70px;
        justify-content: center;

        img{
            position: relative;
            left: 10px;
            top: 19px;
        }
        &::after{
            position: absolute;
    left: 0;
    bottom: -19px;
    width: 0;
    height: 0;
    border-left: 90px solid transparent;
    border-right: 90px solid transparent;
    border-top: 19px solid #142336;
    content: "";
    z-index: 9;
        }

    }
    .ul2{
        li{
            font-size: 18px;
            font-weight: 600;
            font-family:"Saira Condensed";
            position: relative;
            left: 5px;
            top: 35px;
            float: left;
            margin: 0 10px;
        }
    }
}
.header-contact{
    width: 24%;
    height: 100px;
    background-color: white;
    float: left;
    .contact{
        width: 228px;
        height: 50px;
        border: 2px solid rgb(250,209,16);
        position: relative;
        top: 20px;
        left: 40px;

        p{
            color: rgb(69,134,213);
            font-size: 24px;
            font-weight: 700;
            position: relative;
            left:40px;
            top:8px;
        }
    }
}