.prod-col1 {
  float: left;
}

.prod-col2 {
  float: right;
  height: 40px;
  width: 150px;
  padding-top: 20px;
  padding-left: 30px;
  padding-right: 30px;
  color: blue;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: large;
  font-weight: 400;
}

.prod-bt {
  display: inline-block;
  font-size: 18px;
  color: #397ace;
  font-family: "Saira Condensed", sans-serif;
  font-weight: 700;
  letter-spacing: 2px;
  text-transform: uppercase;
  border: 2px solid #fad110;
  width: 180px;
  margin-right: -200px;
  padding: 14px 36px 12px;
  position: relative;
  margin-left: -110px;
  margin-top: 20px;
}

.prod-row {
  display: flex;
  justify-content: space-between;
}

.prod-col3,
.prod-col4,
.prod-col5,
.prod-col6 {
  flex: 1;
  margin-right: 10px;
  /* Adjust margin as needed */
}
.prod-col3 .prod-im,
.prod-col4 .prod-im,
.prod-col5 .prod-im,
.prod-col6 .prod-im {
  margin-top: 60px;
  border: 1px solid rgb(226, 224, 224);
  z-index: -1;
  height: 210px;
  width: 210px;
  margin-left: 50px;
  margin-right: -60px;
}

.prod-col {
  color: blue;
}

.prod-c1 {
  background-color: #4586d5;
  border: 1px solid rgb(255, 255, 255);
  color: white;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  width: 20%;
  height: 15px;
  margin-left: 40px;
  position: relative;
  top: -15px;
}

.prod-container > img {
  position: absolute;
  z-index: -10;
}
.prod-container h2 {
  font-size: 36px;
}
.prod-container h1,
.prod-container h2,
.prod-container h3,
.prod-container h4,
.prod-container h5,
.prod-container h6 {
  margin: 0;
  color: #111111;
  font-weight: 400;
  font-family: "Saira Condensed", sans-serif;
}
.prod-container h5 {
  font-size: 18px;
  margin-left: 30%;
}
.prod-container h5 .prod-an {
  margin-top: -20px;
}

.prod-title {
  margin-top: 40px;
  margin-left: 10%;
}
.prod-title span {
  font-size: 18px;
  color: #4586d5;
  font-weight: 550;
  letter-spacing: 2px;
  display: block;
  text-transform: uppercase;
  margin-bottom: 12px;
}
.prod-title h2 {
  font-weight: 600;
  width: 500px;
  margin-top: 10px;
}

.prod-c2 {
  background-color: rgb(210, 17, 17);
  color: white;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  width: 15%;
  margin-left: 50px;
  position: relative;
  top: -15px;
}

.prod-c3 {
  background-color: rgb(0, 0, 0);
  color: white;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  width: 30%;
  height: 15px;
  margin-left: 50px;
  position: relative;
  top: -15px;
}

.prod-col6 {
  margin-right: 0;
  /* Remove margin from the last column */
}

.prod-pro {
  /* Additional styling for product container if needed */
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .protext {
    padding: 15px 20px 0;
  }
}
.prod-protext {
  text-align: center;
  padding: 25px 40px 0;
  position: relative;
}

.prod-protext h5 a {
  display: inline-block;
  color: #142336;
  line-height: 26px;
  width: 160px;
  margin-left: -50px;
}

.prod-price {
  font-size: 24px;
  font-family: "Saira Condensed", sans-serif;
  color: #142336;
  font-weight: 600;
  transition: all, 0.3s;
  position: relative;
  left: 0;
  bottom: 0;
  margin-left: -10%;
}

.add_cart {
  margin-left: 60px;
}

.c1 span {
  display: inline-block;
  font-size: 13px;
  font-weight: 600;
  color: #ffffff;
  background: #4586d5;
  padding: 1px 12px;
  width: 10px;
}

.c2 span {
  background: #b94040;
  display: inline-block;
  font-size: 13px;
  font-weight: 600;
  color: #ffffff;
  width: 10px;
  height: 15px;
  padding: 1px 12px;
  position: relative;
  margin-top: -20px;
}

.stock span {
  background: #142336;
  display: inline-block;
  font-size: 13px;
  font-weight: 600;
  color: #ffffff;
  width: 40%;
  padding: 1px 12px;
  position: relative;
  top: -40px;
}

.prod-protext .label span {
  display: inline-block;
  font-size: 13px;
  font-weight: 600;
  color: #ffffff;
  padding: 1px 12px;
  position: relative;
  top: -40px;
}/*# sourceMappingURL=product.css.map */